.w3-sidebar a {font-family: "Roboto", sans-serif}
body,h1,h2,h3,h4,h5,h6,.w3-wide {font-family: "Montserrat", sans-serif;}

.icon{
    border-radius: 100%;
}

#items{
    border-style: double;
    text-align: center  ;
}

#shop{
    margin-top: -50px;
    margin-left :-29.8px;
    width: 150px;
    font-size: 35px;

}

#contact{
    font-size: 22px;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}

#ul{
    text-decoration: underline;
}